/*animations*/

.wobble-hor-bottom {
  animation: wobble-hor-bottom 0.8s both;
}

.slide-in-top {
  animation: slide-in-top 0.5s cubic-bezier(0.54, -0.75, 0, 1.64) both;
 }
.slide-in-top-bar {
	animation: slide-in-top-bar 0.5s cubic-bezier(0.54, -0.75, 0, 1.64) both;
 }
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.54, -0.75, 0, 1.64)
    backwards;
  animation: slide-in-left 0.5s cubic-bezier(0.54, -0.75, 0, 1.64) backwards;
  animation-delay: 0.2s;
}
bid-card.slide-in-left {
  animation-delay: 0.3s;
}
rules-card.slide-in-left {
  animation-delay: 0.4s;
}
.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.54, -0.75, 0, 1.64) both;
  animation-delay: 0.5s;
}

.rotate-center {
  transition-delay: 0.1s !important;
  animation: shake-vertical 0.4s ease-in-out 3 forwards !important;
}
.rotate-center-reverse {
  transition-delay: 0.1s !important;
  animation: shake-horizontal 0.4s reverse ease-in-out 3 forwards !important;
}
.rotate-center::after,
.rotate-center::before {
  transition-delay: 0.1s !important;
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.bounce-top {
  animation-name: bounce-out-top, bounce-in-top;
  /*animation-iteration-count: infinite;*/
  animation-duration: 0.75s, 0.75s;
  animation-delay: 0s, 0.75s;
  animation-timing-function: ease-out, ease-in;
}

@keyframes tiltScale {
  50% {
    transform: scale(1.3) rotate(-15deg);
  }

  100% {
    transform: scale(1.1) rotate(-15deg);
  }
}

@keyframes alttiltScale {
  50% {
    transform: scale(1.3) rotate(15deg);
  }

  100% {
    transform: scale(1.1) rotate(15deg);
  }
}

@keyframes jolt {
  0% {
    transform: translate(-50%, -50%) skew(20deg) scale(0, 0.1) rotate(-15deg);
  }

  50% {
    transform: translate(-50%, -50%) skew(20deg) scale(4, 0.2) rotate(-15deg);
  }

  100% {
    transform: translate(-55%, -49%) skewX(20deg) rotateX(40deg) rotateY(10deg)
      rotateZ(-10deg);
  }
}

@keyframes joltalt {
  0% {
    transform: translate(-50%, -50%) skew(20deg) scale(0.05, 0.5) rotate(-15deg);
  }

  50% {
    transform: translate(-50%, -50%) skew(20deg) scale(0.05, 0.5) rotate(-15deg);
  }

  100% {
    transform: translate(-55%, -49%) skewX(20deg) rotateX(40deg) rotateY(10deg)
      rotateZ(-10deg);
  }
}

@keyframes jelly {
  0% {
    z-index: 50;
    transform: translate(-60%, -40%) skewX(20deg) rotateX(40deg) rotateY(10deg)
      rotateZ(-10deg);
  }

  50% {
    z-index: -50;
    transform: translate(-45%, -55%) skewX(-15deg) translateZ(-30px) scale(0.9);
  }

  100% {
    z-index: 50;
    transform: translate(-60%, -40%) skewX(20deg) rotateX(-40deg)
      rotateY(-10deg) rotateZ(-15deg);
  }
}

@keyframes pickmeBounce {
  20% {
    transform: scale(1.05) translate(1px, 1px);
  }

  40% {
    transform: scale(1.05) translate(-1px, 1px);
  }

  60% {
    transform: scale(1.05) translate(1px, -1px);
  }

  80% {
    transform: scale(1.05) translate(-1px, -1px);
  }
}

@keyframes passiveSkew {
  0% {
    transform: skew(2deg);
  }
  50% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(2deg);
  }
}

@keyframes bigStamp {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(8) rotate(5deg);
  }

  100% {
    transform: translate(-50%, -50%) scale(3) rotate(5deg);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-13 17:15:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@keyframes rotate-center {
  0% {
    transform: rotate(0);
    filter: blur(2px);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-13 17:2:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px) skew(30deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) skew(0);
    opacity: 1;
  }
}
@keyframes slide-in-top-bar {
	0% {
	  transform: translateY(-30px) skew(30deg);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0) skew(0);
	  opacity: 1;
	}
 }

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px) skew(50deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) skew(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px) skew(-50deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) skew(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-14 16:59:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-14 20:25:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
    filter: blur(0px);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
    filter: blur(2px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-14 20:26:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
    filter: blur(0px);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
    filter: blur(2px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-15 0:37:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@keyframes bounce-in-top {
  0% {
    transform: translateY(-120px);
    animation-timing-function: ease-in;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-20px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-15 0:38:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-out-top
 * ----------------------------------------
 */
@keyframes bounce-out-top {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  5% {
    transform: translateY(-3px);
    animation-timing-function: ease-in;
  }
  15% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  52% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  85% {
  }
  100% {
    transform: translateY(-120px);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
