inner-column {
  display: grid;
  gap: 10px;
  /*box-shadow: 5px 5px 105px  dimgray;*/
}

inner-column > h1 {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

ol {
  display: grid;
  gap: 5px;
  list-style-type: decimal;
  list-style-position: inside;
  font-size: 1.5rem;
}

past-card ol {
  list-style-type: none;
  gap: 20px;
}





rules-card {
  display: grid;
  grid-row: 2 / 3;
  gap: 30px;
  background-color: hsla(60, 100%, 100%, 1);
  /*white*/
  padding: 20px;
  align-content: start;
  /* border-radius: 5px; */
}

rules-card ol {
	display: grid;
  gap: 15px;
  list-style-position: inside;
}
rules-card li::marker {
	color: var(--shade);


}
rules-card h2 {
  text-align: center;
  font-size: 2.5rem;
}

bid-card ticket-card,
bid-card text-content {
  background-color: var(--shade);
  color: white;
  padding: 20px;
  text-align: center;
  display: grid;
  gap: 20px;
  align-content: start;
  justify-items: center;
  /* border-radius: 5px; */
}

past-card {
  background-color: var(--shade);
  color: white;
  padding: 20px;
  display: grid;
  gap: 20px;
  align-content: start;
  justify-items: center;
  /* border-radius: 5px; */
}

ticket-card div {
	display: flex;
	justify-content: space-between;
	justify-self: stretch;
	padding: 0 20px;
	align-items: center;
}

bid-card{
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 10px;
}

bid-card input {
  width: 100%;
}

bid-card text-content {
  display: grid;
  gap: 20px;
  align-content: start;
  justify-items: center;
}

bid-card h2,
bid-card .bid-form label,
past-card h2 {
  display: block;
  background-color: black;
  padding: 5px;
  transform: rotate(1deg);
}

@media (min-width: 600px) and (max-width: 925px) {
	inner-column {
	  grid-template-columns: repeat(12, 1fr);
	}
 
	inner-column > h1 {
	  grid-column: span 12;
	}
	bid-card {
		grid-column: 1 / -1;

		/* transform: rotate(-2deg); */
		box-shadow: -5px -5px black;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr;
	 }
	 bid-card ticket-card {
		order: 2;
		grid-column: 5 / -1;
	 }

	 bid-card text-content {
		order: 1;
		grid-column: 1/5;
	 }
  
	 past-card {
		grid-row: 3 / 4;

		grid-column: 1 / 5;
		/* transform: rotate(-2deg); */
		box-shadow: -5px -5px black;
	 }
	lottery-module {
		grid-row: 2 / 4;

		grid-column: 5 / -1;
	 }
	 rules-card {
		grid-row: 2 / 3;
		grid-column: 1 / 5;
		/* transform: rotate(2deg); */
	 }
  
	 .flipdown {
		grid-column: 1 / -1;
		align-self: stretch;
	 }
	}

@media (min-width: 925px) {
  inner-column {
    grid-template-columns: repeat(12, 1fr);
  }

  inner-column > h1 {
    grid-column: span 12;
  }

  lottery-module {
    grid-column: 6 / 13;
    grid-row: 2 / 5;
  }

  bid-card {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    transform: rotate(-2deg);
    box-shadow: -5px -5px black;
  }

  past-card {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    transform: rotate(-2deg);
    box-shadow: -5px -5px black;
  }

  rules-card {
    grid-column-start: 1;
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    transform: rotate(2deg);
  }

  .flipdown {
    grid-row: 4/5;
    grid-column: 1 / 6;
    align-self: stretch;
  }
}

@media (min-width: 1500px) {
  lottery-module {
    grid-row: 2 / 5;
  }

  lottery-module ul {
    gap: 30px;
  }
  rules-card {
    /* grid-row: 3 / 5; */
  }
}

lottery-module {
  display: grid;
  gap: 10px;
}

lottery-module > * {
  transition: 0.2s;
  border-radius: 5px;
}

lottery-module .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* overflow: hidden; */
}

lottery-module .buttons button {
  padding: 20px;
  width: 100%;
}

lottery-module ul {
  background-color: black;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  justify-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

lottery-module ul .dials {
  border-radius: 50%;
  background-color: var(--shade);
  display: none;
}

lottery-module ul label {
  padding: 20px;
  background-color: white;
  position: relative;
  cursor: url(../assets/pointer.cur), pointer;
  color: black;
  transition: 0.2s;
}

lottery-module ul li:nth-of-type(3n + 1) label {
  animation: passiveSkew infinite 1s;
}

lottery-module ul li:nth-of-type(3n + 2) label {
  animation: passiveSkew infinite reverse 1s;
}

lottery-module ul li:nth-of-type(3n + 3) label {
  animation: passiveSkew infinite 1s -0.5s;
}

lottery-module ul li:nth-of-type(odd) label:hover {
  transition: 0.01s;
  filter: sepia(50%) saturate(3);
  /*background-color: hsla(60, 100%, 50%, 1.00);*/
  animation: tiltScale 0.1s;
  transform: scale(1.2) rotate(-15deg);
  font-family: "expose";
  background-color: transparent;
  color: black;
}

lottery-module ul li:nth-of-type(even) label:hover {
  transition: 0.01s;
  filter: sepia(50%) saturate(3);
  animation: alttiltScale 0.1s;
  transform: scale(1.2) rotate(15deg);
  background-color: transparent;
  color: black;
}

lottery-module ul label span {
  font-family: "Luckiest Guy", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
lottery-module label:hover span {
  font-family: "expose";
  font-size: 1.3rem;
}

/*labels after and before psedo elements*/
lottery-module ul label::after,
lottery-module ul label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(20deg) scale(0, 0.2);
  background-color: hsla(0, 100%, 45%, 1);
  transition: 0.3s;
  z-index: 100;
  padding: 50%;
}
lottery-module ul label::before {
  background-color: hsla(180, 100%, 50%, 1);
  mix-blend-mode: screen;
}

lottery-module ul .dials + label:hover::after {
  mix-blend-mode: color-burn;
  transition: 0.01s;
  animation: joltalt 0.15s ease-out, jelly infinite 0.4s 0.2s;
}

lottery-module ul .dials + label:hover::before {
  mix-blend-mode: difference;
  transition: 0.01s;
  animation: jolt 0.15s ease-out, jelly infinite 0.4s 0.4s;
}

/*checked stuff*/
lottery-module ul li:nth-of-type(odd) .dials:checked + label {
  transition: 10ms;
  background-color: yellow;
  transform: scale(1.2) rotate(-15deg);
  animation: none;
}

lottery-module ul li:nth-of-type(even) .dials:checked + label {
  transition: 10ms;

  background-color: yellow;
  transform: scale(1.2) rotate(15deg);
  animation: none;
}

lottery-module .dials:checked + label span {
  font-family: "expose";
  font-size: 1.5rem;
}

lottery-module ul li .dials:checked + label::after {
  transform: translate(-50%, -50%) skew(20deg) scale(1.4, 0.1) !important;
}

lottery-module ul li .dials:checked + label::before {
  transform: translate(-50%, -50%) skew(-20deg) scale(0.1, 1.2) !important;
}

/*final result style*/
.final-result {
  position: fixed;
  z-index: 99999999;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3) rotate(5deg);
  padding: 20px;
  background-color: red;
  background-image: url("../paper.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  border: 5px solid black;
  animation: bigStamp 0.1s both;
  text-align: center;
}

.final-result span {
  color: black;
}

.final-result.hide {
  display: none;
}


.ticket-box {
	aspect-ratio: 1 / 1;
	width: 50px;
}


/* ended lottery
 */
.lottery-ended {
  position: relative;
}
.lottery-ended form {
	pointer-events: none;
	filter: grayscale(0.5) saturate(0.5) opacity(0.8) contrast(0.5) brightness(0.5) blur(0.5px) drop-shadow(0 0 0.5px black) ;
}

.reset-lottery {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%) rotate(-10deg);
	z-index: 1;
	color: white;
}

.reset-lottery button,
.reset-lottery .attention-voice {
	font-size: clamp(2.3rem, 6vw, 5rem);
	border-radius: 0;
}

.lottery-ended-rules {
	filter: invert(100%);
}


.pot-beat-change {
  animation: potBeatChange 1s cubic-bezier(0.54, -0.75, 0, 1.64);
}

@keyframes potBeatChange {
  0% {
	 transform: scale(1) rotate(0deg);
  }
  50% {
	 transform: scale(2) rotate(5deg);
  }
  100% {
	 transform: scale(1) rotate(0deg);
  }
}