@import "preset.css";
@import "setup.css";
@import "settings.css";
@import "developer-styles.css";
@import "structure.css";
@import "typography.css";
@import "animation.css";
@import "components.css";
@import "forms.css";
@import "modules.css";

/* S ections and more stuff */

/* then other contextual styles */
body {
  background-color: var(--paper);
  /* background-image: url(../assets/stars.gif); */
  background-image: url(../assets/stars-background.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  overflow-x: hidden;
  user-select: none;
  cursor: url(../assets/cursor.cur), default;
}

inner-column {
  padding-top: 40px;
}

@media (max-width: 925px) {
  body {
    background-size: cover;
    background-position: center center;
  }
}
.my-fantastic-image {
  max-width: 300px;
  border-bottom-right-radius: 30px;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  mix-blend-mode: multiply;
}

.hide {
  display: none !important;
}

.hide-loading {
  opacity: 0;
  visibility: hidden;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.loading-screen .container {
  /* font-size: 2.5rem; */
  color: var(--paper);
  /* font-weight: 700; */
  /* margin-bottom: 1rem; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  justify-items: center;
  width: 100%;
}
.loading-screen h1 {
  font-size: clamp(1.5rem, 8vw, 6rem);
}

.loading-screen .container picture {
  max-width: clamp(30px, 8vw, 200px);
  /* rotate infinetly in steps */
  animation: loadingRotate 10s infinite;
  animation-timing-function: steps(36);
  position: relative;
  mix-blend-mode: multiply;
  top: -30px;
}
.loading-screen picture:nth-last-of-type(1) {
  animation-delay: 0.6s;
}
.loading-screen picture:nth-last-of-type(2) {
  animation-delay: 0.4s;
}
.loading-screen picture:nth-last-of-type(3) {
  animation-delay: 0.2s;
}

.loading-screen div.pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@keyframes loadingRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
